.educationPlacesTable {
    border-spacing: 20px 10px;
}

.subtitle {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    color: #292929;
    border-bottom: 2px solid #cecece;
}

.date {
    text-align: start;
    font-family: 'Raleway', sans-serif;
}

.organizationName
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}